<h1>This is a secret page</h1>

<p>Oh Yea time to learn deeper</p>

<img src="https://images.pexels.com/photos/1040626/pexels-photo-1040626.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">

<li> <a href="/register">Sign up</a></li>
<li> <a href="/login">Log in</a></li>
<li> <a href="/logout">Log out</a></li>